/****** General ***********/
* {
  font-family: roboto, sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

/****** variables ***********/
@import "./library/colors.scss";
@import "./library/mixins.scss";
@import "./library/functions.scss";

/****** elements ***********/

html{
  font-size: $base-font-size px; //font-size definition in functions.scss
}

body {
  justify-content: center;
  width: 100%;
  max-width: 1440px;
}

.logo {
  font-family: Shrikhand, serif;
  &--black {
    color: $dark;
    font-size: rem(30);
  }
  &--white {
    color: $white;
    font-size: rem(18);
  }
  &--loader {
    font-size: 2em;
  }
}

.section__title {
  color: $dark;
  font-size: rem(24);
  font-weight: 700;
  padding-top: 50px;
}

.button--pink {
  @include pink-button-mixin($width: 218px, $lighten: 7);
}

img {
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

/****** mobile first ***********/

/****** loader ***********/
@import "./library/loader.scss";

/****** header ***********/
@import "./library/header.scss";

/****** intro ***********/
@import "./library/index-intro.scss";

/****** how ***********/
@import "./library/index-how.scss";

/****** restaurants ***********/
@import "./library/index-restaurants.scss";

/****** footer ***********/
@import "./library/footer.scss";

/****** page-restaurants ***********/
@import "./library/page-restaurant.scss";
