/*colors*/
$dark: #101010;
$white: #FFFFFF;
$primary-color: #9356DC;
$secondary-color: #FF79DA ;
$tertiary-color: #99E2D0;
$tertiary-darken-color: #008766;
$location-bg-color:#EAEAEA;
$main-bg-color:#F6F6F6;
$footer-bg-color:#353535;
$gradient-pink: linear-gradient($secondary-color, $primary-color);