@import 'colors.scss';

footer{
  background-color: $footer-bg-color;
  display: flex;
  flex-direction: column;
  padding:22px 25px;
  box-sizing: border-box;
  gap: 16px;
  @media (min-width: 768px){
    flex-direction: row-reverse;
    align-items: center;
    height: 114px;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 30px;
    gap:20px;
  }
  @media (min-width: 1024px){
    justify-content: flex-start;
    gap: 100px;
    padding: 50px 90px 30px 30px;
  }
}
  
  .footer-links{
    display: flex;
    flex-direction: column;
    gap: 9px;
    @media (min-width: 768px){
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
    }
    @media (min-width: 1024px){
    gap: 50px;
    }
    a{
      display: flex;
      gap: 9px;
      color: $white;
      align-items: center;
      .icon-restaurant{
        object-fit: none;
        height: 13px;
        width: 11px;
      }
      img .icon-partnership{
        object-fit: none;
        height: 13px;
        width: 12px;
      }
    }
    &__container-one{
      display: flex;
      flex-direction: column;
      gap: 9px;
      @media (min-width: 768px){
        flex-direction: row;
      }
    }
    &__container-two{
      display: flex;
      flex-direction: column;
      gap: 9px;
      @media (min-width: 768px){
        flex-direction: row;
      }
      a{
      font-weight:400;
      }
    }
  }