@import 'colors.scss';

footer{
  background-color: $footer-bg-color;
  display: flex;
  flex-direction: column;
  padding:em(22) em(25);
  box-sizing: border-box;
  gap: em(16);
  @media (min-width: rem(768)){
    flex-direction: row-reverse;
    align-items: center;
    height: em(114);
    justify-content: center;
    padding-top: em(50);
    padding-bottom: em(30);
    gap:em(20);
  }
  @media (min-width: rem(1024)){
    justify-content: flex-start;
    gap: em(100);
    padding: em(50) em(90) em(30) em(30);
  }
}
  
  .footer-links{
    display: flex;
    flex-direction: column;
    gap: em(9);
    @media (min-width: rem(768)){
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: em(20);
    }
    @media (min-width: rem(1024)){
    gap: em(50);
    }
    a{
      display: flex;
      gap: em(9);
      color: $white;
      align-items: center;
      .icon-restaurant{
        object-fit: none;
        height: em(13);
        width: em(11);
      }
      img .icon-partnership{
        object-fit: none;
        height: em(13);
        width: em(12);
      }
    }
    &__container-one{
      display: flex;
      flex-direction: column;
      gap: em(9);
      @media (min-width: rem(768)){
        flex-direction: row;
      }
    }
    &__container-two{
      display: flex;
      flex-direction: column;
      gap: em(9);
      @media (min-width: rem(768)){
        flex-direction: row;
      }
      a{
      font-weight:400;
      }
    }
  }