@import "colors.scss";
@import "functions.scss";

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: em(30) em(20) em(50) em(20);
  gap: em(18);
  background-color: $main-bg-color;
  @media (min-width: rem(1024)) {
    padding-bottom: em(30);
  }
  &__title {
    text-align: center;
    padding: em(0) 10%;
    @media (min-width: rem(1024)) {
      font-size: rem(40);
    }
  }
  p {
    text-align: center;
    font-size: rem(18);
    font-weight: 300;
  }
}
