@import 'colors.scss';
@import 'functions.scss';


.how{
    display: flex;
    flex-direction: column;
    padding: 0 em(17.5);
    gap: em(25);
    @media (min-width: rem(768)){
      padding-right: em(50);
      padding-left: em(50);
    }
    @media (min-width: rem(1440)){
      padding-right: em(180);
      padding-left: em(180);
    }
  .section__title{
    padding-top: em(50);
  }
}
  .cards-how{
    display: flex;
    flex-direction: column;
    gap: em(24);
    padding-bottom: em(50);
    padding-left: em(12);
    @media (min-width: rem(1024)){
      flex-direction: row;
    }
    }
    
    .card-how{
      display: flex;
      justify-content: flex-start;
      gap: em(30);
      align-items: center;
      position: relative;
      border-radius: em(20);
      background-color: $main-bg-color;
      height: em(72.38);
      padding: 0 em(33);
      box-shadow: 0 em(4) em(15) rgba(0, 0, 0, 0.15);
      @media (min-width: rem(1024)){
        width: 33%;
      }
      &__icon--mobile{
          height: em(19.9);
          width: em(13.02);
        }
      &__icon--list{
          height: em(15.92);
          width: em(16);
        }
      &__icon--store{
          height: em(17.91);
          width: em(18);
        }
      &__number{
        position:absolute;
        left:em(-12);
        font-size: rem(14.18);
        color: $white;
        background-color: $primary-color;
        border-radius: em(25);
        padding: em(3.6) em(8);
      }
    }