@import 'colors.scss';

.loader{
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-right: 0px solid $tertiary-color;
    border-radius: 0 25px 25px 0;
    z-index: 2;
    opacity: 1;
    animation: panel 1s ease-in forwards 3s;
      @keyframes panel{
        from {
            opacity: 1;
            padding-right: 0px;
            border-right: 2px solid $tertiary-color;
            transform: translateX(0px);
        }
        to {
          opacity: 1;
          left: -150px;
          padding-right:40px;
          border-right: 60px solid $tertiary-color;
          transform: translateX(-435px);
        }
      } 
    }
  
    @keyframes animate-oh {
      from { transform: translateY(0); }
      to { transform: translateY(-30px); }
    }
    @keyframes animate-oh-border{
      from { border-bottom: 2px;}
      to { border-bottom: 20px;}
    }
  
    @keyframes animate-my {
      from { transform: translateY(0); }
      to { transform: translateY(-40px); }
    }
    @keyframes animate-food {
      from { transform: translateY(0); }
      to { transform: translateY(-30px); }
    }
  
    .text--animated{
      display: flex;
      align-content: center;
      position: absolute;
      padding-top: 350px;
      padding-bottom: 10px;
      height: 100px;
      
      .oh{
        display: inline;
        animation: animate-oh 0.5s ease-in-out infinite alternate;
      }
      .my{
        display: inline;
        animation: animate-my 0.5s ease-in-out 0.5s infinite alternate;
      }
      .food{
          display: inline;
          animation: animate-food 0.5s ease-in-out 1s infinite alternate;
      }   
      }
     