@import "colors.scss";

.loader {
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  border-right: 0px solid $tertiary-color;
  border-radius: 0 rem(25) rem(25) 0;
  z-index: 2;
  opacity: 1;
  animation: panel 1s ease-in forwards 3s;

  .logo--loader{
    @media (min-width: rem(1024)) {
      font-size: rem(64);
  }
}

  /* Keyframes for main loader animation */
  @keyframes panel {
    0% {
      opacity: 1;
      border-right: rem(2) solid $tertiary-color;
      transform: translateX(0vw);
    }
    50% {
      border-right: rem(60) solid $tertiary-color;
    }
    100% {
      opacity: 1;
      border-right: rem(60) solid $tertiary-color;
      transform: translateX(-150vw);
    }
  }
}

/* Keyframes for text animations */
@keyframes animate-oh {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(rem(-30));
  }
}
@keyframes animate-my {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(rem(-40));
  }
}
@keyframes animate-food {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(rem(-30));
  }
}

/* Elements that trigger animations */
.text--animated {
  display: flex;
  align-content: center;
  position: absolute;
  padding-top: rem(350);
  box-sizing: border-box;

  .oh {
    display: inline;
    animation: animate-oh 0.45s ease-in-out alternate 6;
  }
  .my {
    display: inline;
    animation: animate-my 0.45s ease-in-out 0.5s alternate 6;
  }
  .food {
    display: inline;
    animation: animate-food 0.45s ease-in-out 1s alternate 6;
  }
}

/*keyframes for border animations*/
@keyframes border-loading {
  from {
    transform: scale(0, 1);
  }
  to {
    transform: scale(0.62, 1);
  }
}

.border-bottom--loading {
  display: flex;
  justify-content: center;
  width: rem(173);
  height: rem(396);
  padding-top: rem(390);
  position: absolute;
  box-sizing: border-box;
  border-bottom: rem(3) solid $tertiary-color;
  transform-origin: left;
  animation: border-loading 3.5s cubic-bezier(0, 0.37, 1, 0.33) forwards 0s;
  @media (min-width: rem(1024)) {
    width: rem(343);
    height: rem(460);
    border-bottom: rem(6) solid $tertiary-color;
  }
}
