@import "colors.scss";
@import "mixins.scss";
@import "functions.scss";

body {
  min-height: rem(1056);
  max-width: rem(1440);
  margin: auto;
  justify-content: center;
}

header {
  .header-logo {
    & a {
      .back-arrow {
        opacity: 1;
      }
    }
  }
}

// Image sizing with media query
.menu-intro__img {
  height: em(275);
  width: 100%;
  /* Media query for screens >= 768px */
  @media (min-width: rem(768)) {
    height: em(383);
  }
}

/*images specific display*/
.la-palette-du-gout {
  object-position: center 58%;
}
.la-note-enchantee {
  object-position: center 60%;
}
.a-la-francaise {
  object-position: center 67%;
}
.le-delice-des-sens {
  object-position: center 79%;
}

.menu {
  position: absolute;
  top: em(298);
  left: 0;
  right: 0;
  background-color: $main-bg-color;
  border-radius: em(40) em(40) 0 0;
  display: flex;
  flex-direction: column;
  padding-top: em(40);
  padding-bottom: em(40);
  box-sizing: border-box;
  gap: em(40);
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  /* Media query for screens >= 768px */
  @media (min-width: rem(768)) {
    top: em(439.34);
  }
  /* Media query for screens >= 1055px */
  @media (min-width: rem(1055)) {
    width: em(1055);
  }

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: em(20);
    &--text {
      font-family: shrikhand, sans-serif;
      font-size: rem(28);
      color: $dark;
    }
    &--icon {
      display: flex;
      justify-content: initial;
      &-like {
        @include like;
        &:hover + .menu__title--icon-liked {
          opacity: 0;
        }
      }
      &-liked {
        @include liked;
        transform: scale(0.5);
        /* Media query for screens >= 768px */
        @media (min-width: rem(768)) {
        }
        &:hover {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }
  &__subtitle {
    font-weight: 300;
    font-size: rem(16);
    &--green-underline {
      font-weight: 300;
      font-size: rem(16);
      border-bottom: em(3) solid $tertiary-color;
    }
  }
  &__subsection {
    display: flex;
    flex-direction: column;
    gap: em(10);
    padding: 0 em(10);
    box-sizing: border-box;
    max-width: em(664);
    width: 100%;
  }
  &__card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: $white;
    border-radius: em(15.04);
    height: em(69);
    min-width: em(349);
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 em(4.01) em(15.04) rgba(0, 0, 0, 0.1);
    &-content-txt {
      display: flex;
      flex-direction: column;
      padding: em(15) 0 em(15) em(15);
      gap: em(5);
      box-sizing: border-box;
      width: 100%;
      transition: all 0.3s ease-in-out 0.1s;
      &__title {
        font-size: rem(18);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &__description {
        font-weight: 300;
        font-size: rem(15.04);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    &-price {
      padding-top: em(27.2);
      padding-left: em(15);
      padding-right: em(15);
      position: absolute;
      z-index: 0;
      right: em(0);
      transition: all 0.3s ease-in-out 0.2s;
    }
    &-icon {
      position: absolute;
      z-index: 0;
      height: em(69);
      right: em(0);
      opacity: 0;
      transform: translateX(em(60));
      transition: all 0.3s ease-in-out 0.2s;
      background-color: $tertiary-color;
      padding: em(24.5) em(19.5);
      box-sizing: border-box;
      border-radius: 0 em(14.05) em(14.05) 0;
    }
    &:hover {
      .menu__card-content-txt {
        width: 69%;
      }
      .menu__card-price {
        transform: translateX(em(-60));
      }
      .menu__card-icon {
        opacity: 1;
        transform: translateX(em(0));
      }
    }
  }
}

/* Animations for menu items */
@keyframes slideInX {
  from {
    transform: translateX(-100%) scale(0, 1);
    opacity: 0;
  }
  to {
    transform: translateX(0) scale(1, 1);
    opacity: 1;
  }
}

@keyframes slideInY {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.menu {
  overflow: hidden;
  &__starters {
    transform-origin: bottom;
    animation: slideInY 1s ease-in-out forwards;
    &__one {
      transform-origin: left;
      opacity: 0;
      animation: slideInX 1s ease-in-out forwards;
      animation-delay: 0.1s;
    }
    &__two {
      opacity: 0;
      transform-origin: left;
      animation: slideInX 1s ease-in-out forwards;
      animation-delay: 0.2s;
    }
    &__three {
      opacity: 0;
      transform-origin: left;
      animation: slideInX 1s ease-in-out forwards;
      animation-delay: 0.3s;
    }
    &__four {
      opacity: 0;
      transform-origin: left;
      animation: slideInX 1s ease-in-out forwards;
      animation-delay: 0.4s;
    }
  }
  &__mains {
    opacity: 0;
    transform-origin: bottom;
    animation: slideInY 1s ease-in-out forwards 0.3s;
    &__one {
      transform-origin: left;
      opacity: 0;
      animation: slideInX 1s ease-in-out forwards;
      animation-delay: 0.4s;
    }
    &__two {
      opacity: 0;
      transform-origin: left;
      animation: slideInX 1s ease-in-out forwards;
      animation-delay: 0.5s;
    }
    &__three {
      opacity: 0;
      transform-origin: left;
      animation: slideInX 1s ease-in-out forwards;
      animation-delay: 0.6s;
    }
  }
  &__deserts {
    opacity: 0;
    transform-origin: bottom;
    animation: slideInY 1s ease-in-out forwards 0.6s;
    &__one {
      transform-origin: left;
      opacity: 0;
      animation: slideInX 1s ease-in-out forwards;
      animation-delay: 0.7s;
    }
    &__two {
      opacity: 0;
      transform-origin: left;
      animation: slideInX 1s ease-in-out forwards;
      animation-delay: 0.8s;
    }
    &__three {
      opacity: 0;
      transform-origin: left;
      animation: slideInX 1s ease-in-out forwards;
      animation-delay: 0.9s;
    }
  }
}

// Footer positioning
.footer-restaurant {
  position: relative;
  left: em(0);
  right: em(0);
  bottom: em(-1056);
}

.footer-la-note-enchantee {
  bottom: em(-1134.2);
}
