/*colors*/
/****** mixins ***********/
.restaurants {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 17.5px;
  padding-right: 17.5px;
  padding-bottom: 50px;
  background-color: #F6F6F6;
  /* Media query for screens >= 768px */
  /* Media query for screens >= 1024px */
  /* Media query for screens >= 1440px */
}
@media (min-width: 768px) {
  .restaurants {
    /* Increase padding on both sides */
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media (min-width: 1024px) {
  .restaurants {
    /* Adjust gap and padding */
    gap: 28px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 30px;
  }
  .restaurants .section__title {
    padding-top: 30px;
  }
}
@media (min-width: 1440px) {
  .restaurants {
    /* Increase padding significantly */
    padding-right: 180px;
    padding-left: 180px;
  }
}
.restaurants .cards-restaurants {
  /* Initial flex layout */
  display: flex;
  flex-direction: column;
  gap: 18px;
  /* Media query for screens >= 768px */
  /* Media query for screens >= 1024px */
}
@media (min-width: 768px) {
  .restaurants .cards-restaurants {
    /* Switch to row layout with wrapping */
    flex-direction: row;
    flex-wrap: wrap;
    -moz-column-gap: 8%;
         column-gap: 8%;
  }
}
@media (min-width: 1024px) {
  .restaurants .cards-restaurants {
    /* Adjust gap and column spacing */
    gap: 50px;
    -moz-column-gap: 10%;
         column-gap: 10%;
  }
}

.cards-restaurants a {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 251px;
  width: 100%;
  border-radius: 15px;
  background-color: #FFFFFF;
  text-decoration: none;
  /* Media query for screens >= 768px */
  /* Media query for screens >= 1024px */
}
@media (min-width: 768px) {
  .cards-restaurants a {
    /* Adjust width for even distribution */
    width: 46%;
  }
}
@media (min-width: 1024px) {
  .cards-restaurants a {
    /* Slightly adjust width */
    width: 45%;
  }
}
.cards-restaurants a .card-restaurant-img {
  position: relative;
  width: 100%;
  height: 70%;
}
.cards-restaurants a .card-restaurant-img__img {
  position: relative;
  width: 100%;
  height: 177px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.cards-restaurants a .card-restaurant-img__badge {
  position: absolute;
  right: 16px;
  top: 16px;
  z-index: 1;
  font-size: 14px;
  padding: 7.5px;
  border-radius: 2px;
  color: #008766;
  background-color: #99E2D0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

/*images specific display*/
.la-palette-du-gout .card-restaurant-img img {
  -o-object-position: center 62%;
     object-position: center 62%;
}

.la-note-enchantee .card-restaurant-img img {
  -o-object-position: center 59%;
     object-position: center 59%;
}

.a-la-francaise .card-restaurant-img img {
  -o-object-position: center 85%;
     object-position: center 85%;
}
.a-la-francaise .card-restaurant-img__badge {
  display: none;
}

.le-delice-des-sens .card-restaurant-img img {
  -o-object-position: center 85%;
     object-position: center 85%;
}
.le-delice-des-sens .card-restaurant-img__badge {
  display: none;
}

.card-restaurant-content {
  display: flex;
  justify-content: space-between;
  height: 30%;
  padding: 15px;
  align-items: center;
  box-sizing: border-box;
  /* Like button functionality */
}
.card-restaurant-content-text {
  display: flex;
  flex-direction: column;
}
.card-restaurant-content-text__title {
  font-size: 18px;
  font-weight: 700;
}
.card-restaurant-content-text__subtitle {
  font-size: 17px;
  font-weight: 300;
}
.card-restaurant-content__like {
  position: relative;
  opacity: 1;
  height: 21px;
  width: 22px;
  transform-origin: bottom;
  transform: scale(1);
  transition: all 0.1s ease-in-out;
  /* State change on hover */
}
.card-restaurant-content__like:hover + .card-restaurant-content__liked {
  opacity: 0;
}
.card-restaurant-content__liked {
  position: absolute;
  height: 21px;
  width: 22px;
  z-index: 1;
  transform-origin: bottom;
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.15s cubic-bezier(0, -0.01, 0.73, 0.99);
  right: 15px;
  /* State change on hover */
}
.card-restaurant-content__liked:hover {
  opacity: 1;
  transform: scale(1);
}/*# sourceMappingURL=index-restaurants.css.map */