/****** General ***********/
* {
  font-family: roboto, sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

/****** variables ***********/
/*colors*/
/****** mixins ***********/
/****** elements ***********/
body {
  justify-content: center;
  width: 100%;
  max-width: 1440px;
}

.logo {
  font-family: Shrikhand, serif;
}
.logo--black {
  color: #101010;
  font-size: 30px;
}
.logo--white {
  color: #FFFFFF;
  font-size: 18px;
}
.logo--loader {
  font-size: 2em;
}

.section__title {
  color: #101010;
  font-size: 24px;
  font-weight: 700;
  padding-top: 50px;
}

.button--pink {
  background: linear-gradient(#FF79DA, #9356DC);
  border-style: none;
  border-radius: 25px;
  color: #FFFFFF;
  font-size: 16px;
  height: 50px;
  width: 218px;
  position: relative;
  z-index: 1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
.button--pink:hover::after {
  opacity: 1;
}
.button--pink::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  background: linear-gradient(#ff9de4, #a674e2);
  border-radius: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
  transition: opacity 0.2s ease-in-out;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

/****** mobile first ***********/
/****** loader ***********/
/*colors*/
.loader {
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  border-right: 0px solid #99E2D0;
  border-radius: 0 25px 25px 0;
  z-index: 2;
  opacity: 1;
  animation: panel 1s ease-in forwards 3s;
  /* Keyframes for main loader animation */
}
@media (min-width: 1024px) {
  .loader .logo--loader {
    font-size: 4em;
  }
}
@keyframes panel {
  0% {
    opacity: 1;
    border-right: 2px solid #99E2D0;
    transform: translateX(0vw);
  }
  50% {
    border-right: 60px solid #99E2D0;
  }
  100% {
    opacity: 1;
    border-right: 60px solid #99E2D0;
    transform: translateX(-150vw);
  }
}

/* Keyframes for text animations */
@keyframes animate-oh {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-30px);
  }
}
@keyframes animate-my {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-40px);
  }
}
@keyframes animate-food {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-30px);
  }
}
/* Elements that trigger animations */
.text--animated {
  display: flex;
  align-content: center;
  position: absolute;
  padding-top: 350px;
  box-sizing: border-box;
}
.text--animated .oh {
  display: inline;
  animation: animate-oh 0.45s ease-in-out alternate 6;
}
.text--animated .my {
  display: inline;
  animation: animate-my 0.45s ease-in-out 0.5s alternate 6;
}
.text--animated .food {
  display: inline;
  animation: animate-food 0.45s ease-in-out 1s alternate 6;
}

/*keyframes for border animations*/
@keyframes border-loading {
  from {
    transform: scale(0, 1);
  }
  to {
    transform: scale(0.62, 1);
  }
}
.border-bottom--loading {
  display: flex;
  justify-content: center;
  width: 173px;
  height: 396px;
  padding-top: 390px;
  position: absolute;
  box-sizing: border-box;
  border-bottom: 3px solid #99E2D0;
  transform-origin: left;
  animation: border-loading 3.5s cubic-bezier(0, 0.37, 1, 0.33) forwards 0s;
}
@media (min-width: 1024px) {
  .border-bottom--loading {
    width: 343px;
    height: 460px;
    border-bottom: 6px solid #99E2D0;
  }
}

/****** header ***********/
/*colors*/
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 1440px;
  position: relative;
}
header .header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 63px;
}
@media (min-width: 768px) {
  header .header-logo {
    height: 96px;
  }
}
header .header-logo .back-arrow {
  opacity: 0;
  position: absolute;
  left: 20px;
  top: 23.5px;
  margin: auto;
}
@media (min-width: 768px) {
  header .header-logo .back-arrow {
    top: 40.165px;
  }
}
header .header-logo .logo--black {
  height: 63px;
  align-content: center;
}
header .location {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  gap: 17px;
  background-color: #EAEAEA;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 -4px 4px rgba(0, 0, 0, 0.25);
}
@media (min-width: 768px) {
  header .location {
    box-shadow: none;
  }
}
header .location__img {
  height: 16px;
}

/****** intro ***********/
/*colors*/
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px 50px 20px;
  gap: 18px;
  background-color: #F6F6F6;
}
@media (min-width: 1024px) {
  .intro {
    padding-bottom: 30px;
  }
}
.intro__title {
  text-align: center;
  padding: 0px 10%;
}
@media (min-width: 1024px) {
  .intro__title {
    font-size: 40px;
  }
}
.intro p {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}

/****** how ***********/
/*colors*/
.how {
  display: flex;
  flex-direction: column;
  padding: 0 17.5px;
  gap: 25px;
}
@media (min-width: 768px) {
  .how {
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media (min-width: 1440px) {
  .how {
    padding-right: 180px;
    padding-left: 180px;
  }
}
.how .section__title {
  padding-top: 50px;
}

.cards-how {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 50px;
  padding-left: 12px;
}
@media (min-width: 1024px) {
  .cards-how {
    flex-direction: row;
  }
}

.card-how {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  align-items: center;
  position: relative;
  border-radius: 20px;
  background-color: #F6F6F6;
  height: 72.38px;
  padding: 0 33px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}
@media (min-width: 1024px) {
  .card-how {
    width: 33%;
  }
}
.card-how__icon--mobile {
  height: 19.9px;
  width: 13.02px;
}
.card-how__icon--list {
  height: 15.92px;
  width: 16px;
}
.card-how__icon--store {
  height: 17.91px;
  width: 18px;
}
.card-how__number {
  position: absolute;
  left: -12px;
  font-size: 14.18px;
  color: #FFFFFF;
  background-color: #9356DC;
  border-radius: 25px;
  padding: 3.6px 8px;
}

/****** restaurants ***********/
/*colors*/
/****** mixins ***********/
.restaurants {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 17.5px;
  padding-right: 17.5px;
  padding-bottom: 50px;
  background-color: #F6F6F6;
  /* Media query for screens >= 768px */
  /* Media query for screens >= 1024px */
  /* Media query for screens >= 1440px */
}
@media (min-width: 768px) {
  .restaurants {
    /* Increase padding on both sides */
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media (min-width: 1024px) {
  .restaurants {
    /* Adjust gap and padding */
    gap: 28px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 30px;
  }
  .restaurants .section__title {
    padding-top: 30px;
  }
}
@media (min-width: 1440px) {
  .restaurants {
    /* Increase padding significantly */
    padding-right: 180px;
    padding-left: 180px;
  }
}
.restaurants .cards-restaurants {
  /* Initial flex layout */
  display: flex;
  flex-direction: column;
  gap: 18px;
  /* Media query for screens >= 768px */
  /* Media query for screens >= 1024px */
}
@media (min-width: 768px) {
  .restaurants .cards-restaurants {
    /* Switch to row layout with wrapping */
    flex-direction: row;
    flex-wrap: wrap;
    -moz-column-gap: 8%;
         column-gap: 8%;
  }
}
@media (min-width: 1024px) {
  .restaurants .cards-restaurants {
    /* Adjust gap and column spacing */
    gap: 50px;
    -moz-column-gap: 10%;
         column-gap: 10%;
  }
}

.cards-restaurants a {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 251px;
  width: 100%;
  border-radius: 15px;
  background-color: #FFFFFF;
  text-decoration: none;
  /* Media query for screens >= 768px */
  /* Media query for screens >= 1024px */
}
@media (min-width: 768px) {
  .cards-restaurants a {
    /* Adjust width for even distribution */
    width: 46%;
  }
}
@media (min-width: 1024px) {
  .cards-restaurants a {
    /* Slightly adjust width */
    width: 45%;
  }
}
.cards-restaurants a .card-restaurant-img {
  position: relative;
  width: 100%;
  height: 70%;
}
.cards-restaurants a .card-restaurant-img__img {
  position: relative;
  width: 100%;
  height: 177px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.cards-restaurants a .card-restaurant-img__badge {
  position: absolute;
  right: 16px;
  top: 16px;
  z-index: 1;
  font-size: 14px;
  padding: 7.5px;
  border-radius: 2px;
  color: #008766;
  background-color: #99E2D0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

/*images specific display*/
.la-palette-du-gout .card-restaurant-img img {
  -o-object-position: center 62%;
     object-position: center 62%;
}

.la-note-enchantee .card-restaurant-img img {
  -o-object-position: center 59%;
     object-position: center 59%;
}

.a-la-francaise .card-restaurant-img img {
  -o-object-position: center 85%;
     object-position: center 85%;
}
.a-la-francaise .card-restaurant-img__badge {
  display: none;
}

.le-delice-des-sens .card-restaurant-img img {
  -o-object-position: center 85%;
     object-position: center 85%;
}
.le-delice-des-sens .card-restaurant-img__badge {
  display: none;
}

.card-restaurant-content {
  display: flex;
  justify-content: space-between;
  height: 30%;
  padding: 15px;
  align-items: center;
  box-sizing: border-box;
  /* Like button functionality */
}
.card-restaurant-content-text {
  display: flex;
  flex-direction: column;
}
.card-restaurant-content-text__title {
  font-size: 18px;
  font-weight: 700;
}
.card-restaurant-content-text__subtitle {
  font-size: 17px;
  font-weight: 300;
}
.card-restaurant-content__like {
  position: relative;
  opacity: 1;
  height: 21px;
  width: 22px;
  transform-origin: bottom;
  transform: scale(1);
  transition: all 0.1s ease-in-out;
  /* State change on hover */
}
.card-restaurant-content__like:hover + .card-restaurant-content__liked {
  opacity: 0;
}
.card-restaurant-content__liked {
  position: absolute;
  height: 21px;
  width: 22px;
  z-index: 1;
  transform-origin: bottom;
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.15s cubic-bezier(0, -0.01, 0.73, 0.99);
  right: 15px;
  /* State change on hover */
}
.card-restaurant-content__liked:hover {
  opacity: 1;
  transform: scale(1);
}

/****** footer ***********/
/*colors*/
footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 22px 25px;
  box-sizing: border-box;
  gap: 16px;
}
@media (min-width: 768px) {
  footer {
    flex-direction: row-reverse;
    align-items: center;
    height: 114px;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 30px;
    gap: 20px;
  }
}
@media (min-width: 1024px) {
  footer {
    justify-content: flex-start;
    gap: 100px;
    padding: 50px 90px 30px 30px;
  }
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
@media (min-width: 768px) {
  .footer-links {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
}
@media (min-width: 1024px) {
  .footer-links {
    gap: 50px;
  }
}
.footer-links a {
  display: flex;
  gap: 9px;
  color: #FFFFFF;
  align-items: center;
}
.footer-links a .icon-restaurant {
  -o-object-fit: none;
     object-fit: none;
  height: 13px;
  width: 11px;
}
.footer-links a img .icon-partnership {
  -o-object-fit: none;
     object-fit: none;
  height: 13px;
  width: 12px;
}
.footer-links__container-one {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
@media (min-width: 768px) {
  .footer-links__container-one {
    flex-direction: row;
  }
}
.footer-links__container-two {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
@media (min-width: 768px) {
  .footer-links__container-two {
    flex-direction: row;
  }
}
.footer-links__container-two a {
  font-weight: 400;
}

/****** page-restaurants ***********/
/*colors*/
/****** mixins ***********/
body {
  min-height: 1056px;
  max-width: 1440px;
  margin: auto;
  justify-content: center;
}

header .header-logo a .back-arrow {
  opacity: 1;
}

.menu-intro__img {
  height: 275px;
  width: 100%;
  /* Media query for screens >= 768px */
}
@media (min-width: 768px) {
  .menu-intro__img {
    height: 383px;
  }
}

/*images specific display*/
.la-palette-du-gout {
  -o-object-position: center 58%;
     object-position: center 58%;
}

.la-note-enchantee {
  -o-object-position: center 60%;
     object-position: center 60%;
}

.a-la-francaise {
  -o-object-position: center 67%;
     object-position: center 67%;
}

.le-delice-des-sens {
  -o-object-position: center 79%;
     object-position: center 79%;
}

.menu {
  position: absolute;
  top: 298px;
  left: 0;
  right: 0;
  background-color: #F6F6F6;
  border-radius: 40px 40px 0 0;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  box-sizing: border-box;
  gap: 40px;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  /* Media query for screens >= 768px */
  /* Media query for screens >= 1055px */
}
@media (min-width: 768px) {
  .menu {
    top: 439.34px;
  }
}
@media (min-width: 1055px) {
  .menu {
    width: 1055px;
  }
}
.menu__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.menu__title--text {
  font-family: shrikhand, sans-serif;
  font-size: 28px;
  color: #101010;
}
.menu__title--icon {
  display: flex;
  justify-content: initial;
}
.menu__title--icon-like {
  position: relative;
  opacity: 1;
  height: 21px;
  width: 22px;
  transform-origin: bottom;
  transform: scale(1);
  transition: all 0.1s ease-in-out;
}
.menu__title--icon-like:hover + .menu__title--icon-liked {
  opacity: 0;
}
.menu__title--icon-liked {
  position: absolute;
  height: 21px;
  width: 22px;
  z-index: 1;
  transform-origin: bottom;
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.15s cubic-bezier(0, -0.01, 0.73, 0.99);
  transform: scale(0.5);
  /* Media query for screens >= 768px */
}
.menu__title--icon-liked:hover {
  opacity: 1;
  transform: scale(1);
}
.menu__subtitle {
  font-weight: 300;
  font-size: 16px;
}
.menu__subtitle--green-underline {
  font-weight: 300;
  font-size: 16px;
  border-bottom: 3px solid #99E2D0;
}
.menu__subsection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 10px;
  box-sizing: border-box;
  max-width: 664px;
  width: 100%;
}
.menu__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #FFFFFF;
  border-radius: 15.04px;
  height: 69px;
  min-width: 349px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 4.01px 15.04px rgba(0, 0, 0, 0.1);
}
.menu__card-content-txt {
  display: flex;
  flex-direction: column;
  padding: 15px 0 15px 15px;
  gap: 5px;
  box-sizing: border-box;
  width: 100%;
  transition: all 0.3s ease-in-out 0.1s;
}
.menu__card-content-txt__title {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__card-content-txt__description {
  font-weight: 300;
  font-size: 15.04px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__card-price {
  padding-top: 27.2px;
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  z-index: 0;
  right: 0px;
  transition: all 0.3s ease-in-out 0.2s;
}
.menu__card-icon {
  position: absolute;
  z-index: 0;
  right: 0px;
  opacity: 0;
  transform: translateX(60px);
  transition: all 0.3s ease-in-out 0.2s;
  background-color: #99E2D0;
  padding: 24.5px 19.5px;
  box-sizing: border-box;
  border-radius: 0 14.05px 14.05px 0;
}
.menu__card:hover .menu__card-content-txt {
  width: 69%;
}
.menu__card:hover .menu__card-price {
  transform: translateX(-60px);
}
.menu__card:hover .menu__card-icon {
  opacity: 1;
  transform: translateX(0px);
}

/* Animations for menu items */
@keyframes slideInX {
  from {
    transform: translateX(-100%) scale(0, 1);
    opacity: 0;
  }
  to {
    transform: translateX(0) scale(1, 1);
    opacity: 1;
  }
}
@keyframes slideInY {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.menu {
  overflow: hidden;
}
.menu__starters {
  transform-origin: bottom;
  animation: slideInY 1s ease-in-out forwards;
}
.menu__starters__one {
  transform-origin: left;
  opacity: 0;
  animation: slideInX 1s ease-in-out forwards;
  animation-delay: 0.1s;
}
.menu__starters__two {
  opacity: 0;
  transform-origin: left;
  animation: slideInX 1s ease-in-out forwards;
  animation-delay: 0.2s;
}
.menu__starters__three {
  opacity: 0;
  transform-origin: left;
  animation: slideInX 1s ease-in-out forwards;
  animation-delay: 0.3s;
}
.menu__starters__four {
  opacity: 0;
  transform-origin: left;
  animation: slideInX 1s ease-in-out forwards;
  animation-delay: 0.4s;
}
.menu__mains {
  opacity: 0;
  transform-origin: bottom;
  animation: slideInY 1s ease-in-out forwards 0.3s;
}
.menu__mains__one {
  transform-origin: left;
  opacity: 0;
  animation: slideInX 1s ease-in-out forwards;
  animation-delay: 0.4s;
}
.menu__mains__two {
  opacity: 0;
  transform-origin: left;
  animation: slideInX 1s ease-in-out forwards;
  animation-delay: 0.5s;
}
.menu__mains__three {
  opacity: 0;
  transform-origin: left;
  animation: slideInX 1s ease-in-out forwards;
  animation-delay: 0.6s;
}
.menu__deserts {
  opacity: 0;
  transform-origin: bottom;
  animation: slideInY 1s ease-in-out forwards 0.6s;
}
.menu__deserts__one {
  transform-origin: left;
  opacity: 0;
  animation: slideInX 1s ease-in-out forwards;
  animation-delay: 0.7s;
}
.menu__deserts__two {
  opacity: 0;
  transform-origin: left;
  animation: slideInX 1s ease-in-out forwards;
  animation-delay: 0.8s;
}
.menu__deserts__three {
  opacity: 0;
  transform-origin: left;
  animation: slideInX 1s ease-in-out forwards;
  animation-delay: 0.9s;
}

.footer-restaurant {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: -1056px;
}

.footer-la-note-enchantee {
  bottom: -1134.2px;
}/*# sourceMappingURL=style.css.map */