/****** General ***********/
* {
  font-family: roboto, sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

/****** variables ***********/
/*media-queries*/
/*colors*/
/****** mixins ***********/
/****** elements ***********/
.logo {
  font-family: Shrikhand, serif;
}
.logo--black {
  color: #101010;
  font-size: 30px;
}
.logo--white {
  color: #FFFFFF;
  font-size: 18px;
}
.logo--pink {
  font-size: 50px;
}

.section__title {
  color: #101010;
  font-size: 24px;
  padding-top: 50px;
}

.button--pink {
  background: linear-gradient(#FF79DA, #9356DC);
  border-style: none;
  border-radius: 25px;
  color: #FFFFFF;
  font-size: 16px;
  height: 50px;
  width: 218px;
  position: relative;
  z-index: 1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
.button--pink:hover::after {
  opacity: 1;
}
.button--pink::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  background: linear-gradient(#ff9de4, #a674e2);
  border-radius: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
  transition: opacity 0.2s ease-in-out;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

/****** mobile first ***********/
/****** loader ***********/
.loader {
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
  opacity: 0.9;
  animation: opacity 1s ease-in forwards 3s;
}
@keyframes opacity {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 0;
  }
}

@keyframes animate-oh {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-30px);
  }
}
@keyframes animate-oh-border {
  from {
    border-bottom: 2px;
  }
  to {
    border-bottom: 20px;
  }
}
@keyframes animate-my {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-40px);
  }
}
@keyframes animate-food {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-30px);
  }
}
.text--animated {
  display: flex;
  position: relative;
  padding-top: 350px;
  padding-bottom: 10px;
  height: 100px;
}
.text--animated .oh {
  display: inline;
  transform-origin: bottom;
  animation: animate-oh 0.5s ease-in-out infinite alternate;
}
.text--animated .my {
  display: inline;
  transform-origin: bottom;
  animation: animate-my 0.5s ease-in-out 0.5s infinite alternate;
}
.text--animated .food {
  display: inline;
  transform-origin: bottom;
  animation: animate-food 0.5s ease-in-out 1s infinite alternate;
}

/****** header ***********/
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 113px;
}

.logo--black {
  height: 63px;
  align-content: center;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  gap: 17px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 -4px 4px rgba(0, 0, 0, 0.25);
  background-color: #EAEAEA;
}
.location__img {
  height: 16px;
}

/****** intro ***********/
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px 50px 20px;
  gap: 18px;
  background-color: #F6F6F6;
}
.intro__title {
  text-align: center;
  padding: 0 10%;
}
.intro p {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}

/****** how ***********/
.how {
  display: flex;
  flex-direction: column;
  padding: 0 17.5px;
  gap: 25px;
}

.cards-how {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 50px;
  padding-left: 12px;
}
.cards-how .card-how {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  align-items: center;
  position: relative;
  border-radius: 20px;
  background-color: #F6F6F6;
  height: 72.38px;
  padding: 0 40px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}
.cards-how .card-how__icon--mobile {
  height: 20px;
}
.cards-how .card-how__icon--list {
  height: 16px;
}
.cards-how .card-how__icon--store {
  height: 18px;
}
.cards-how .card-how__number {
  position: absolute;
  left: -12px;
  font-size: 14.18px;
  color: #FFFFFF;
  background-color: #9356DC;
  border-radius: 25px;
  padding: 3.6px 8px;
}

/****** restaurants ***********/
.restaurants {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 17.5px;
  padding-right: 17.5px;
  padding-bottom: 50px;
  background-color: #F6F6F6;
}
.restaurants .cards-restaurants {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

a .card-restaurant {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 251px;
  width: 100%;
  border-radius: 15px;
  background-color: #FFFFFF;
  text-decoration: none;
}
a .card-restaurant .card-restaurant-img {
  position: relative;
  width: 100%;
  height: 70%;
}
a .card-restaurant .card-restaurant-img__img {
  position: relative;
  -o-object-position: bottom;
     object-position: bottom;
  width: 100%;
  height: 177px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
a .card-restaurant .card-restaurant-img__badge {
  position: absolute;
  right: 16px;
  top: 16px;
  z-index: 1;
  font-size: 14px;
  padding: 7.5px;
  border-radius: 2px;
  color: #008766;
  background-color: #99E2D0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

/*images specific display*/
.la-note-enchantee .card-restaurant-img img {
  -o-object-position: center 61%;
     object-position: center 61%;
}

.a-la-francaise .card-restaurant-img__badge {
  display: none;
}

.le-delice-des-sens .card-restaurant-img__badge {
  display: none;
}

.card-restaurant-content {
  display: flex;
  justify-content: space-between;
  height: 30%;
  padding: 15px;
  align-items: center;
  box-sizing: border-box;
}
.card-restaurant-content-text {
  display: flex;
  flex-direction: column;
}
.card-restaurant-content-text__title {
  font-size: 18px;
  font-weight: 700;
}
.card-restaurant-content-text__subtitle {
  font-size: 17px;
  font-weight: 300;
}
.card-restaurant-content__like {
  position: relative;
  opacity: 1;
  height: 20px;
  transform-origin: bottom;
  transform: scale(1);
  transition: all 0.1s ease-in-out;
}
.card-restaurant-content__like:hover + .card-restaurant-content__liked {
  opacity: 0;
}
.card-restaurant-content__liked {
  position: absolute;
  right: 15px;
  height: 20px;
  z-index: 1;
  transform-origin: bottom;
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.15s cubic-bezier(0, -0.01, 0.73, 0.99);
}
.card-restaurant-content__liked:hover {
  opacity: 1;
  transform: scale(1);
}

/****** footer ***********/
footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 22px 25px;
  gap: 16px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer-links a {
  display: flex;
  gap: 9px;
  color: #FFFFFF;
  align-items: center;
}
.footer-links a img {
  -o-object-fit: none;
     object-fit: none;
  height: 13px;
}
.footer-links__container-one {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer-links__container-two {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer-links__container-two a {
  font-weight: 400;
}

@media (min-width: 768.1px) {
  body {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 0 180px;
    justify-content: center;
  }
  .location {
    box-shadow: none;
  }
  .cards-how {
    flex-direction: row;
  }
  .cards-how .card-how {
    width: 33%;
  }
  .restaurants .cards-restaurants {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    -moz-column-gap: 100px;
         column-gap: 100px;
  }
  .restaurants .cards-restaurants a {
    width: 45%;
  }
}/*# sourceMappingURL=style.css.map */